/* === GGS base === */

/* portrait */
.c1{ width:1.667%		}
.c2{ width:3.334%		}
.c3{ width:5%				}
.c4{ width:6.667%		}
.c5{ width:8.334%		}
.c6{ width:10%			}
.c7{ width:11.667%	}
.c8{ width:13.334%	}
.c9{ width:15%			}
.c10{ width:16.667% }
.c11{ width:18.334% }
.c12{ width:20%			}
.c13{ width:21.667% }
.c14{ width:23.334% }
.c15{ width:25%			}
.c16{ width:26.667% }
.c17{ width:28.334% }
.c18{ width:30%			}
.c19{ width:31.667% }
.c20{ width:33.334% }
.c21{ width:35%			}
.c22{ width:36.667% }
.c23{ width:38.334% }
.c24{ width:40%			}
.c25{ width:41.667% }
.c26{ width:43.334% }
.c27{ width:45%			}
.c28{ width:46.667% }
.c29{ width:48.334% }
.c30{ width:50%			}
.c31{ width:51.667% }
.c32{ width:53.334% }
.c33{ width:55%			}
.c34{ width:56.667% }
.c35{ width:58.334% }
.c36{ width:60%			}
.c37{ width:61.667% }
.c38{ width:63.334% }
.c39{ width:65%			}
.c40{ width:66.667% }
.c41{ width:68.334% }
.c42{ width:70%			}
.c43{ width:71.667% }
.c44{ width:73.334% }
.c45{ width:75%			}
.c46{ width:76.667% }
.c47{ width:78.334% }
.c48{ width:80%			}
.c49{ width:81.667% }
.c50{ width:83.334% }
.c51{ width:85%			}
.c52{ width:86.667% }
.c53{ width:88.334% }
.c54{ width:90%			}
.c55{ width:91.667% }
.c56{ width:93.334% }
.c57{ width:95%			}
.c58{ width:96.667% }
.c59{ width:98.334% }
.c60{ width:100%		}

.c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9, .c10, .c11, .c12, .c13, .c14, .c15, .c16, .c17, .c18, .c19, .c20,
.c21, .c22, .c23, .c24, .c25, .c26, .c27, .c28, .c29, .c30, .c31, .c32, .c33, .c34, .c35, .c36, .c37, .c38, .c39, .c40,
.c41, .c42, .c43, .c44, .c45, .c46, .c47, .c48, .c49, .c50, .c51, .c52, .c53, .c54, .c55, .c56, .c57, .c58, .c59, .c60
{
	float:left;
	min-height:1%;
	margin:0 0 1.667% 1.667%
}



/* === margins === */
.m0 { margin:0 }
.ma { display:block;margin-left:auto;margin-right:auto }

/* margin-top */
.mt0	{ margin-top: 0						}
.mt1	{ margin-top: 1.667%			}
.mt2 	{ margin-top: 3.334%			}
.mt3 	{ margin-top: 5%					}
.mt4 	{ margin-top: 6.667%			}
.mt5 	{ margin-top: 8.334%			}

/* margin-right */
.mr0	{ margin-right: 0					}
.mr1	{ margin-right: 1.667%		}
.mr2 	{ margin-right: 3.334%		}
.mr3 	{ margin-right: 5%				}
.mr4 	{ margin-right: 6.667%		}
.mr5 	{ margin-right: 8.334%		}

/* margin-bottom */
.mb0	{ margin-bottom: 0				}
.mb1	{ margin-bottom: 1.667% 	}
.mb2 	{ margin-bottom: 3.334% 	}
.mb3 	{ margin-bottom: 5% 			}
.mb4 	{ margin-bottom: 6.667% 	}
.mb5 	{ margin-bottom: 8.334% 	}

/* margin-left */
.ml0	{ margin-left: 0					}
.ml1	{ margin-left: 1.667%			}
.ml2 	{ margin-left: 3.334%			}
.ml3 	{ margin-left: 5%					}
.ml4 	{ margin-left: 6.667%			}
.ml5 	{ margin-left: 8.334%			}


/* === paddings === */
.p0 { padding:0 }

/* padding-top */
.pt0	{ padding-top: 0					}
.pt1	{ padding-top: 1.667%			}
.pt2 	{ padding-top: 3.334%			}
.pt3 	{ padding-top: 5%					}
.pt4 	{ padding-top: 6.667%			}
.pt5 	{ padding-top: 8.334%			}

/* padding-right */
.pr0	{ padding-right: 0				}
.pr1	{ padding-right: 1.667%		}
.pr2 	{ padding-right: 3.334%		}
.pr3 	{ padding-right: 5%				}
.pr4 	{ padding-right: 6.667%		}
.pr5 	{ padding-right: 8.334%		}

/* padding-bottom */
.pb0	{ padding-bottom: 0				}
.pb1	{ padding-bottom: 1.667%	}
.pb2 	{ padding-bottom: 3.334%	}
.pb3 	{ padding-bottom: 5%			}
.pb4 	{ padding-bottom: 6.667%	}
.pb5 	{ padding-bottom: 8.334%	}

/* padding-left */
.pl0	{ padding-left: 0					}
.pl1	{ padding-left: 1.667%		}
.pl2 	{ padding-left: 3.334%		}
.pl3 	{ padding-left: 5%				}
.pl4 	{ padding-left: 6.667%		}
.pl5 	{ padding-left: 8.334%		}

/* === floats === */
.fl { float: left		}
.fr { float: right	}
.fn { float: none		}

/* === positions === */
.ps { position: static		}
.pa { position: absolute	}
.pr { position: relative	}
.pf { position: fixed			}

/* === clear === */
.clr { clear: both }
.clear { float:left;clear: both }

/* === display === */
.dn		{ display: none					}
.di 	{ display: inline				}
.dib	{ display: inline-block }

/* === Rounded corners === */
.round2		{ border-radius: 2px }
.round4		{ border-radius: 4px }
.round6		{ border-radius: 6px }
.round8		{ border-radius: 8px }
.round10	{ border-radius: 10px }
.round12	{ border-radius: 12px }